<div class="menu">
  <div class="row">
    <div class="col m4">
      <img
        class="border"
        width="290px"
        src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
        alt=""
      />
    </div>
    <div class="col m8">
      <h1>All is Good</h1>
      <div class="row">
        <div class="col m6">
          <div class="row">
            <div class="col m3">
              <div class="row" style="color: #fe744b">
                <i class="material-icons"> star </i>
                <i class="material-icons"> star </i>
                <i class="material-icons"> star </i>
                <i class="material-icons"> star_border </i>
              </div>
            </div>
            <div class="col m3">
              <h2>4.0</h2>
            </div>
            <div class="col m3">
              <div class="row">
                <div class="col m12">
                  <div class="row">
                    <div class="col m6">
                      <i class="material-icons icon">thumb_up</i>
                    </div>
                    <div class="col m6">
                      <h1>234</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col m3">
              <div class="row">
                <div class="col m12">
                  <div class="row">
                    <div class="col m6">
                      <i class="material-icons icon">comment</i>
                    </div>
                    <div class="col m6">
                      <h1>223</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col m6" style="cursor: pointer">
          <div class="col m3">
            <div class="chip" style="background-color: #3b5999">Facebook</div>
          </div>
          <div class="col m3">
            <div class="chip" style="background-color: #55acee">Twitter</div>
          </div>
          <div class="col m3">
            <div class="chip" style="background-color: #25d366">WhatsApp</div>
          </div>
          <div class="col m3">
            <div class="chip" style="background-color: #dd4b39">Email</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m12">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error,
            pariatur quisquam adipisci minima quo consectetur incidunt?
            Laboriosam nesciunt ex cumque minus, nam veritatis? Voluptas a sit
            atque aliquid, natus quidem!
          </p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus reprehenderit repudiandae aperiam. Neque voluptatibus
          explicabo exercitationem autem voluptates ullam, velit, quibusdam quod
          officiis maiores eveniet enim, esse iste iusto nesciunt!
        </div>
      </div>
      <div class="row" style="border-bottom: 2px dotted #030100">
        <div class="col m6">
          <div class="row">
            <div class="col m4">
              <h3>Writen By</h3>
              <p>Mohamed Eldiyasty</p>
            </div>
            <div class="col m4">
              <h3>Publisher By</h3>
              <p>Mohamed Eldiyasty</p>
            </div>
            <div class="col m4">
              <h3>Year</h3>
              <h4>2019</h4>
            </div>
          </div>
        </div>
        <div class="col m6">
          <div class="row">
            <div class="col m6">
              <div
                class="chip"
                style="background-color: #ebe7febb; color: #5207dd"
              >
                <p style="font-weight: 600">Free Shipping</p>
              </div>
            </div>
            <div class="col m6">
              <div
                class="chip"
                style="background-color: #ebe7febb; color: #25d366"
              >
                <p style="font-weight: 600">In stocks</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m4">
          <div class="col m4">
            <h1>{{ 122.3 | currency }}</h1>
          </div>
          <div class="col m4">
            <h2 style="text-decoration: line-through; margin-left: 9px">
              {{ 133.3 | currency }}
            </h2>
          </div>
          <div class="col m4">
            <span class="badge">5%</span>
          </div>
        </div>
        <div class="col m8">
          <div class="row">
            <div class="col m3" style="border-radius: 20px">
              <div class="q" style="padding: 0 10px">
                <div
                  class="row"
                  style="border-radius: 10px; text-align: center"
                >
                  <i
                    class="material-icons"
                    style="
                      display: inline-block;
                      color: #5207dd;
                      margin-right: 4px;
                    "
                    >remove
                  </i>
                  <h1 style="display: inline-block; font-weight: 700">1</h1>
                  <i
                    class="material-icons"
                    style="
                      color: #5207dd;
                      display: inline-block;
                      margin-left: 4px;
                    "
                    >add</i
                  >
                </div>
              </div>
            </div>
            <div class="col m6">
              <app-btn [btnText]="btnName" [iconText]="iconName"></app-btn>
            </div>
            <div class="col m3">
              <i class="material-icons icon"> favorite_border </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left: 40px">
    <div class="col m8">
      <div
        class="row"
        style="
          cursor: pointer;
          margin-left: 20px;
          padding: 30px;
          border: #55acee49 1px solid;
          border-radius: 10px;
        "
      >
        <a>
          <h1
            class="active"
            #Details
            style="display: inline-block; margin-right: 40px; color: #2a2a2ada"
            (click)="hide(Details, Review)"
          >
            Book Details
          </h1>
        </a>
        <a>
          <h1
            #Review
            style="display: inline-block; color: #2a2a2ada"
            (click)="show(Review, Details)"
          >
            Book Review
          </h1>
        </a>
        <table
          class="highlight"
          style="width: 80%; border-radius: 20px; border: #92919485 solid 1px"
        >
          <tbody *ngIf="BookDetails">
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>Jellybean</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
            </tr>
          </tbody>
        </table>
        <div class="row" style="margin-left: 30px" *ngIf="!BookDetails">
          <div class="col m4">
            <h1>Rating Information</h1>
            <h4>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus
              perspiciatis et libero alias! Fuga, sint reiciendis ipsam nemo
              minima assumenda numquam dolore labore facilis dolorem dolorum
              animi repellat repellendus nesciunt.
            </h4>
          </div>
          <div class="col m4">
            <div class="ro">
              <h3 style="font-weight: 600; font-size: 1rem">
                50%
                <i
                  class="material-icons"
                  style="color: #fe744b; font-size: 1rem"
                  >start</i
                >
                <i
                  class="material-icons"
                  style="color: #fe744b; font-size: 1rem"
                  >start</i
                >
                <i
                  class="material-icons"
                  style="color: #fe744b; font-size: 1rem"
                  >start</i
                >
                <i
                  class="material-icons"
                  style="color: #fe744b; font-size: 1rem"
                  >start</i
                >
              </h3>
              <div class="progress">
                <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
            <div class="ro">
              <h3 style="font-weight: 600; font-size: 1rem">
                30%
                <i
                  class="material-icons"
                  style="color: #fe744b; font-size: 1rem"
                  >start</i
                >
                <i
                  class="material-icons"
                  style="color: #fe744b; font-size: 1rem"
                  >start</i
                >
                <i
                  class="material-icons"
                  style="color: #fe744b; font-size: 1rem"
                  >start</i
                >
              </h3>
              <div class="progress">
                <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
            <div class="ro">
              <h3 style="font-weight: 600; font-size: 1rem">
                20%
                <i
                  class="material-icons"
                  style="color: #fe744b; font-size: 1rem"
                  >start</i
                >
              </h3>
              <div class="progress">
                <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
          </div>
          <div class="col m4">
            <div class="container">
              <div class="row" style="margin-top: 50px">
                <div class="col m4">
                  <h1 style="font-weight: 700; font-size: 2rem">4.4</h1>
                </div>
                <div class="col m8">
                  <p style="display: inline-block">OUT of 5.00</p>
                </div>
                <div class="row" style="color: #fe744b">
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star_border </i>
                </div>
              </div>
            </div>
          </div>

          <!-- end -->
        </div>
      </div>
      <div
        class="row"
        style="
          cursor: pointer;
          margin-left: 20px;
          padding: 30px;
          border: #55acee49 1px solid;
          border-radius: 10px;
        "
      >
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img
                src="https://materializecss.com/images/yuna.jpg"
                alt=""
                class="circle responsive-img"
              />
              <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Doloribus nihil similique temporibus, voluptatem rem ipsam
                eveniet nam magnam natus. Mollitia debitis expedita perspiciatis
                autem
                <div
                  class="row"
                  style="color: #fe744b; margin-top: 10px; margin-left: 20px"
                >
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star_border </i>
                </div>
              </span>
              <p style="font-weight: 700">
                Mohamed Eldiyasty
                <span style="display: inline-block; margin-left: 20px">{{
                  date
                }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img
                src="https://materializecss.com/images/yuna.jpg"
                alt=""
                class="circle responsive-img"
              />
              <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Doloribus nihil similique temporibus, voluptatem rem ipsam
                eveniet nam magnam natus. Mollitia debitis expedita perspiciatis
                autem
                <div
                  class="row"
                  style="color: #fe744b; margin-top: 10px; margin-left: 20px"
                >
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star_border </i>
                </div>
              </span>
              <p style="font-weight: 700">
                Mohamed Eldiyasty
                <span style="display: inline-block; margin-left: 20px">{{
                  date
                }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img
                src="https://materializecss.com/images/yuna.jpg"
                alt=""
                class="circle responsive-img"
              />
              <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Doloribus nihil similique temporibus, voluptatem rem ipsam
                eveniet nam magnam natus. Mollitia debitis expedita perspiciatis
                autem
                <div
                  class="row"
                  style="color: #fe744b; margin-top: 10px; margin-left: 20px"
                >
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star </i>
                  <i class="material-icons"> star_border </i>
                </div>
              </span>
              <p style="font-weight: 700">
                Mohamed Eldiyasty
                <span style="display: inline-block; margin-left: 20px">{{
                  date
                }}</span>
              </p>
            </div>
          </div>
        </div>

        <a
          style="display: block; background-color: #5207dd"
          class="waves-effect waves-light btn"
          >Load More</a
        >
      </div>
    </div>
    <div class="col m4">
      <app-related-books></app-related-books>
    </div>
  </div>
  <div class="row">
    <app-sale-items></app-sale-items>
  </div>

  <div class="col m12" style="margin-top: 40px; text-align: center">
    <div class="newsLetter border">
      <h1 style="font-weight: 600">
        Subscribe To Our News Letter For Books Updates
      </h1>
      <input type="text" placeholder="Enter You Email" />
      <app-btn [btnText]="subBtn"></app-btn>
    </div>
  </div>
</div>
