.Navbtn {
  background-color: #5207dd !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
@media (max-width: 767.98px) {
  .Navbtn {
    margin: 10px auto !important;
  }
}
