<div class="contaier" style="margin-left: 100px">
  <h1 style="text-align: center; font-weight: 700; margin-top: 20px">
    Least News
  </h1>
  <h3 style="text-align: center; font-weight: 700">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  </h3>
  <div class="row">
    <div class="col m4">
      <div class="card border" style="width: 300px">
        <div class="card-image">
          <img
            height="170px"
            src="./../../../assets/photo-1602541975161-6ee3b0829adb.jpg"
          />
          <span class="card-title">Card Title</span>
        </div>

        <div class="card-content">
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s8">
              <app-btn [btnText]="btnText" [iconText]="iconText"></app-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card border" style="width: 300px">
        <div class="card-image">
          <img
            height="170px"
            src="./../../../assets/photo-1602541975161-6ee3b0829adb.jpg"
          />
          <span class="card-title">Card Title</span>
        </div>

        <div class="card-content">
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s8">
              <app-btn [btnText]="btnText" [iconText]="iconText"></app-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card border" style="width: 300px">
        <div class="card-image">
          <img
            height="170px"
            src="./../../../assets/photo-1602541975161-6ee3b0829adb.jpg"
          />
          <span class="card-title">Card Title</span>
        </div>

        <div class="card-content">
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s8">
              <app-btn [btnText]="btnText" [iconText]="iconText"></app-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-left: 100px">
  <div class="container">
    <div class="col m3 s6">
      <div class="features_icon">
        <i class="material-icons large">group</i>
      </div>
      <div class="features_text">
        <h2 style="font-weight: 600">233,37</h2>
        <p style="font-weight: 600">Happy Users</p>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="features_icon">
        <i class="material-icons large">library_books</i>
      </div>
      <div class="features_text">
        <h2 style="font-weight: 600">2337+</h2>
        <p style="font-weight: 600">Books</p>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="features_icon">
        <i class="material-icons large">store</i>
      </div>
      <div class="features_text">
        <h2 style="font-weight: 600">1252+</h2>
        <p style="font-weight: 600">Store</p>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="features_icon">
        <i class="material-icons large"> create </i>
      </div>
      <div class="features_text">
        <h2 style="font-weight: 600">433+</h2>

        <p style="font-weight: 600">Famous writer</p>
      </div>
    </div>
    <div class="col m12" style="margin-top: 40px; text-align: center">
      <div class="newsLetter border">
        <h1 style="font-weight: 600">
          Subscribe To Our News Letter For Books Updates
        </h1>
        <input type="text" placeholder="Enter You Email" />
        <app-btn [btnText]="subBtn"></app-btn>
      </div>
    </div>
  </div>
</div>
