<div class="section border Featured">
  <h1 style="margin-left: 50px; font-weight: 700; margin-top: 20px">
    Featured Books
  </h1>
  <h3 style="margin-left: 50px; font-weight: 700">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  </h3>
  <div class="row" style="margin-left: 20px">
    <div class="col m6 s12">
      <div class="Featured_book border">
        <div class="row">
          <div class="col m6">
            <div class="image border">
              <img
                src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
                alt=""
                class="border"
                srcset=""
                width="90%"
                height="230px"
              />
            </div>
          </div>
          <div class="col m6">
            <div class="books border">
              <div class="row" style="margin-top: 10px">
                <div class="col m4">
                  <i
                    class="material-icons lagre"
                    style="color: #5207dd; font-size: 3rem; cursor: pointer"
                    >add_circle
                  </i>
                </div>
                <div class="col m8">
                  <h1 style="font-weight: 500">BOOK TITLE</h1>
                </div>
                <div class="row">
                  <p
                    style="
                      color: blueviolet;
                      text-align: center;
                      margin-left: 60px;
                      font-weight: 600;
                      display: inline-flex;
                      margin-right: 20px;
                    "
                  >
                    Drama
                  </p>
                  <p
                    style="
                      display: inline-flex;
                      color: blueviolet;
                      font-weight: 800;
                    "
                  >
                    Novels
                  </p>
                  <p style="font-weight: 600">
                    Lorem ipsum dolor sit amet <br />
                    consectetur adipisicing elit.
                    <br />
                    consectetur adipisicing elit.
                  </p>
                  <div class="row">
                    <div class="col m6" style="font-weight: 800">
                      <span style="color: blueviolet"> WRITTEN BY </span>
                      <p>Mohamed Eldiyasty</p>
                    </div>
                    <div class="col m6" style="font-weight: 800">
                      <span style="color: blueviolet"> YEAR </span>
                      <p>2019</p>
                    </div>
                    <div class="row">
                      <div class="col m6">
                        <app-btn
                          style="margin-left: 10px"
                          [btnText]="btnText"
                          [iconText]="iconText"
                        ></app-btn>
                      </div>
                      <div class="col s6">
                        <h1 style="font-weight: 900; color: #5207dd">$40,39</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m6 s12 images">
      <div class="col m4 s6">
        <div class="image border">
          <img
            src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
            alt=""
            class="border"
            srcset=""
            width="90%"
            height="230px"
          />
        </div>
      </div>
      <div class="col m4 s6">
        <div class="image border">
          <img
            src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
            alt=""
            class="border"
            srcset=""
            width="90%"
            height="230px"
          />
        </div>
      </div>
      <div class="col m4 s6">
        <div class="image border">
          <img
            src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
            alt=""
            class="border"
            srcset=""
            width="90%"
            height="230px"
          />
        </div>
      </div>
      <div class="col m4 s6">
        <div class="image border">
          <img
            src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
            alt=""
            class="border"
            srcset=""
            width="90%"
            height="230px"
          />
        </div>
      </div>
      <div class="col m4 s6">
        <div class="image border">
          <img
            src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
            alt=""
            class="border"
            srcset=""
            width="90%"
            height="230px"
          />
        </div>
      </div>
      <div class="col m4 s6">
        <div class="image border">
          <img
            src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
            alt=""
            class="border"
            srcset=""
            width="90%"
            height="230px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
