<div class="section special">
  <div class="row">
    <h1 style="text-align: center; font-weight: 700">Special Offers</h1>
    <h3 style="text-align: center; font-weight: 500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit deleniti
      dicta ab tempore aperiam velit provident eligendi?
    </h3>
    <div class="row" style="margin-top: 30px">
      <div class="col l4 m6 s12">
        <div class="card border" style="width: 350px">
          <div class="card-image">
            <img
              height="250px"
              src="./../../../assets/photo-1602541975161-6ee3b0829adb.jpg"
            />
            <span class="card-title">Card Title</span>
          </div>

          <div class="card-content">
            <div class="row">
              <span class="chip">Jane Doe</span>
              <span class="chip">Jane Doe</span>
            </div>

            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s8">
                <app-btn [btnText]="btnText" [iconText]="iconText"></app-btn>
              </div>
              <div class="col s2">
                <h1 style="margin: 1px -21px 16px">$40,39</h1>
              </div>
              <div class="col s2">
                <h3
                  style="
                    text-decoration: line-through;
                    color: rgba(0, 0, 0, 0.603);
                  "
                >
                  $55,56
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col l4 m6 s12">
        <div class="card border" style="width: 350px">
          <div class="card-image">
            <img
              height="250px"
              src="./../../../assets/photo-1602541975161-6ee3b0829adb.jpg"
            />
            <span class="card-title">Card Title</span>
          </div>

          <div class="card-content">
            <div class="row">
              <p class="chip">Jane Doe</p>
              <p class="chip">Jane Doe</p>
              <p class="chip">Jane Doe</p>
            </div>

            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s8">
                <app-btn [btnText]="btnText" [iconText]="iconText"></app-btn>
              </div>
              <div class="col s2">
                <h1 style="margin: 1px -21px 16px">$40,39</h1>
              </div>
              <div class="col s2">
                <h3
                  style="
                    text-decoration: line-through;
                    color: rgba(0, 0, 0, 0.603);
                  "
                >
                  $55,56
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col l4 m6 s12">
        <div class="card border" style="width: 350px">
          <div class="card-image">
            <img
              height="250px"
              src="./../../../assets/photo-1602541975161-6ee3b0829adb.jpg"
            />
            <span class="card-title">Card Title</span>
          </div>

          <div class="card-content">
            <div class="row">
              <p class="chip">Jane Doe</p>
              <p class="chip">Jane Doe</p>
              <p class="chip">Jane Doe</p>
            </div>

            <p>
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s8">
                <app-btn [btnText]="btnText" [iconText]="iconText"></app-btn>
              </div>
              <div class="col s2">
                <h1 style="margin: 1px -21px 16px">$40,39</h1>
              </div>
              <div class="col s2">
                <h3
                  style="
                    text-decoration: line-through;
                    color: rgba(0, 0, 0, 0.603);
                  "
                >
                  $55,56
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="cursor: pointer; text-align: center; margin-top: 30px">
      <div
        class="material-icons"
        style="
          padding: 10px 10px;
          background-color: #ffffff;
          color: rgba(59, 118, 228, 0.637);
          border-radius: 50%;
        "
      >
        arrow_back
      </div>
      <div
        class="material-icons"
        style="
          padding: 10px 10px;
          background-color: #f1eeffb7;
          color: blueviolet;
          border-radius: 50%;
        "
      >
        arrow_forward
      </div>
    </div>
  </div>
</div>
