.menu {
  border: 1px solid rgba(226, 206, 206, 0.568) !important;
  border-radius: 0px 15px 0px 15px !important;
  padding: 2px;
}
.content {
  transition: all 4s ease-in;
  &:hover {
    .price {
      display: block;
      margin-top: 10px;
    }
    .text {
      display: none;
    }
  }
  position: relative;
  text-align: center;
  .icon {
    position: absolute;
    top: 10px;
    z-index: 1;
    right: 19px;
    padding: 4px;
    color: #ffffff;
    background-color: #6c5dd4;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }
  .icon2 {
    padding: 4px;
    color: #ffffff;
    background-color: #6c5dd4;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }
}
img {
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  height: 250px;
  box-shadow: 0 2px 5px 0 rgba(72, 105, 194, 0.16);
}
p {
  padding-top: 10px;
}

.price {
  display: none;
}
