<div class="section border">
  <div class="row border">
    <div class="col m3 s6">
      <div class="container">
        <div class="row">
          <div class="col m3">
            <i
              class="material-icons medium border"
              style="background-color: #5207dd; color: #fff"
              >assignment</i
            >
          </div>
          <div class="col m9">
            <h2 style="font-weight: 700; margin-left: 10px !important">
              Booky
            </h2>
            <p style="font-weight: 500; margin-left: 7px">Book Store app</p>
          </div>
        </div>
        <div class="row">
          <h4 style="font-weight: 400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            praesentium sint reprehenderit assumenda
          </h4>
        </div>
        <div class="row">
          <h4 style="font-weight: 500">Follow US</h4>
          <div class="row">
            <a
              class="waves-effect waves-light btn"
              style="
                background-color: #5207ddb7;
                color: #fff;
                margin-left: 10px;
              "
            >
              <i class="fa fa-facebook"></i
            ></a>
            <a
              class="waves-effect waves-light btn"
              style="
                background-color: #5207ddb7;
                color: #fff;
                margin-left: 10px;
              "
            >
              <i class="fa fa-twitter"></i
            ></a>
            <a
              class="waves-effect waves-light btn"
              style="
                background-color: #5207ddb7;
                color: #fff;
                margin-left: 10px;
              "
            >
              <i class="fa fa-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col m3 s6">
      <h4 style="font-weight: 500">Book Category</h4>
      <div class="row">
        <div class="col m6">
          <p>Sci-Fi</p>
          <p>Mystery</p>
          <p>Thriller</p>
          <p>Romance</p>
          <p>Westerns</p>
          <p>Dystopian</p>
        </div>
        <div class="col m6">
          <p>Cooking</p>
          <p>Art</p>
          <p>Personal</p>
          <p>Self-help</p>
          <p>Development</p>
          <p>Motivational</p>
        </div>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="row">
        <h4 style="font-weight: 500">Quick Links</h4>

        <div class="col m6">
          <p>Our Books</p>
          <p>About Us</p>
          <p>Contact Us</p>
          <p>FAQ</p>
          <p>Sign Up</p>
          <p>Login</p>
        </div>
      </div>
    </div>
    <div class="col m3 s6">
      <h4 style="font-weight: 500">Our Store</h4>
      <div class="row">
        <i class="material-icons" style="color: #5207dd">add_location </i>
        <p style="font-weight: 700; display: inline-block; margin-left: 10px">
          Nasser City , Cairo, Egypt
        </p>
      </div>
      <div class="row">
        <i class="material-icons" style="color: #5207dd">local_phone </i>
        <p style="font-weight: 700; display: inline-block; margin-left: 10px">
          +201090046219
        </p>
      </div>
      <div class="row">
        <i class="material-icons" style="color: #5207dd">email </i>
        <p style="font-weight: 700; display: inline-block; margin-left: 10px">
          Diyastysd@gmail.com
        </p>
      </div>
    </div>
  </div>
</div>
