<div class="header-section">
  <div class="row">
    <div class="col m8 s12 header-section_p1 border">
      <div class="row">
        <div class="col l6 m6 s12 text">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <h3>Back to school</h3>
              <h5>
                special Offers : 50% <br />
                <h4>for Our Student community</h4>
              </h5>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br />
                Aspernatur, suscipit atque laudantium beatae
              </p>
            </ng-template>
            <ng-template carouselSlide>
              <h3>Back to school</h3>
              <h5>
                special Offers : 50% <br />
                <h4>for Our Student community</h4>
              </h5>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br />
                Aspernatur, suscipit atque laudantium beatae
              </p>
            </ng-template>
            <ng-template carouselSlide>
              <h3>Back to school</h3>
              <h5>
                special Offers : 50% <br />
                <h4>for Our Student community</h4>
              </h5>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br />
                Aspernatur, suscipit atque laudantium beatae
              </p>
            </ng-template>
          </owl-carousel-o>

          <!--
          <h3>Back to school</h3>
          <h5>
            special Offers : 50% <br />
            <h4>for Our Student community</h4>
          </h5>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br />
            Aspernatur, suscipit atque laudantium beatae
          </p>
          -->

          <div class="row">
            <div class="col l6 m6 s12">
              <app-btn [btnText]="btnName" [iconText]="iconName"></app-btn>
            </div>
            <div class="col l6 m6 s12">
              <app-btn-light [btnText]="btnLight"></app-btn-light>
            </div>
          </div>
          <!--
          <div class="row">
            <div class="col m3"></div>
            <div class="col l6 m6 s12">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
          </div> -->
        </div>
        <div class="col l6 m6 s12 image">
          <img
            height="400px"
            width="100%"
            class="border"
            src="../../../assets/—Pngtree—children reading book_3634302.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>
    <div class="col m3 s12 header-section_p2 border">
      <h1 style="font-weight: 700">Best seller</h1>
      <h3 style="font-weight: 500">based on seals this week</h3>
      <i class="material-icons arrow_right">keyboard_arrow_right</i>
      <owl-carousel-o [options]="customOptions2">
        <ng-template carouselSlide style="padding: 10px">
          <img
            height="230px"
            class="border"
            style="border: 1px solid #fff; cursor: pointer"
            src="../../../assets/photo-1503676260728-1c00da094a0b.jpg"
            alt=""
            srcset=""
          />
          <h3 style="font-weight: 500">Book title</h3>
          <div class="btn" style="background-color: #fff">
            <h4
              style="
                display: inline-block;
                margin-right: 10px;
                font-weight: 800;
                font-style: oblique;
                color: rgba(0, 0, 0, 0.678);
              "
            >
              60
            </h4>
            <h3 style="display: inline-block; font-weight: 800; color: black">
              40.56 USD
            </h3>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <img
            width="80%"
            height="230px"
            class="border"
            style="border: 1px solid #fff"
            src="../../../assets/photo-1503676260728-1c00da094a0b.jpg"
            alt=""
            srcset=""
          />
          <h4>Book title</h4>
          <div class="btn" style="background-color: #fff">
            <h4
              style="
                display: inline-block;
                margin-right: 10px;
                font-weight: 800;
                font-style: oblique;
                color: rgba(0, 0, 0, 0.678);
              "
            >
              60
            </h4>
            <h3 style="display: inline-block; font-weight: 800; color: black">
              40.56 USD
            </h3>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <img
            width="80%"
            height="230px"
            class="border"
            style="border: 1px solid #fff"
            src="../../../assets/photo-1503676260728-1c00da094a0b.jpg"
            alt=""
            srcset=""
          />
          <h4>Book title</h4>
          <div class="btn" style="background-color: #fff">
            <h4
              style="
                display: inline-block;
                margin-right: 10px;
                font-weight: 800;
                font-style: oblique;
                color: rgba(0, 0, 0, 0.678);
              "
            >
              60
            </h4>
            <h3 style="display: inline-block; font-weight: 800; color: black">
              40.56 USD
            </h3>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <!-- features section -->

  <div class="row features">
    <div class="col m3 s6">
      <div class="features_icon" style="display: inline-block">
        <i class="material-icons meduim">flash_on</i>
      </div>
      <div class="features_text" style="display: inline-block">
        <p style="font-weight: 600">Quick Delivery</p>
        <span style="font-weight: 600">Lorem ipsum dolor lore</span>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="features_icon" style="display: inline-block">
        <i class="material-icons meduim">verified_user</i>
      </div>
      <div class="features_text" style="display: inline-block">
        <p style="font-weight: 600">Quick Delivery</p>
        <span style="font-weight: 600">Lorem ipsum dolor lore</span>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="features_icon" style="display: inline-block">
        <i class="material-icons meduim">spa</i>
      </div>
      <div class="features_text" style="display: inline-block">
        <p style="font-weight: 600">Quick Delivery</p>
        <span style="font-weight: 600">Lorem ipsum dolor lore</span>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="features_icon" style="display: inline-block">
        <i class="material-icons meduim">thumb_up</i>
      </div>
      <div class="features_text" style="display: inline-block">
        <p style="font-weight: 600">Quick Delivery</p>
        <span style="font-weight: 600">Lorem ipsum dolor lore</span>
      </div>
    </div>
  </div>
  <!-- recommend And popular section -->
  <div class="recommend_section border">
    <div class="row">
      <div class="col m6 s12 border recommend">
        <div class="shadow"></div>
        <div class="shadow_2"></div>
        <div class="shadow_3"></div>

        <i class="material-icons arrow_right">keyboard_arrow_right</i>
        <div class="recommend_text">
          <h2 style="font-weight: 700">Recommend For You</h2>
          <h4 style="font-weight: 500">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
            tempo et consectetur esse doloremque.
          </h4>

          <div class="row">
            <div class="col m3 s12">
              <img
                width="100%"
                height="210px"
                class="border"
                style="
                  border: 2px solid #f8d9c493;
                  cursor: pointer;
                  z-index: 999;
                "
                src="../../../assets/photo-1558021211-6d1403321394.jpg"
                alt=""
                srcset=""
              />
            </div>
            <div class="col m3 s12">
              <img
                width="100%"
                height="210px"
                class="border"
                style="
                  border: 1px solid #f8d9c493;
                  cursor: pointer;
                  z-index: 1999;
                "
                src="../../../assets/photo-1529158062015-cad636e205a0.jpg"
                alt=""
                srcset=""
              />
            </div>
            <div class="col m3 s12">
              <img
                width="100%"
                height="210px"
                class="border"
                style="
                  border: 1px solid #f8d9c493;
                  cursor: pointer;
                  z-index: 2999;
                "
                src="../../../assets/photo-1503676260728-1c00da094a0b.jpg"
                alt=""
                srcset=""
              />
            </div>
            <div class="col m3 s12">
              <img
                width="100%"
                height="210px"
                class="border"
                style="
                  border: 1px solid #f8d9c493;
                  cursor: pointer;
                  z-index: 399;
                "
                src="../../../assets/photo-1503676260728-1c00da094a0b.jpg"
                alt=""
                srcset=""
              />
            </div>
          </div>

          <!--  -->
        </div>
      </div>
      <div class="col m6 s12 border popular">
        <i class="material-icons arrow_right">keyboard_arrow_right</i>

        <div class="shadow"></div>
        <div class="shadow_2"></div>
        <div class="shadow_3"></div>
        <div class="popular_text">
          <h2 style="font-weight: 700">Popular In 2020</h2>
          <h4 style="font-weight: 500">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
            tempora voluptatibus repellendus dolor,
          </h4>
          <div class="row">
            <div class="col m3 s12">
              <img
                width="100%"
                height="210px"
                class="border"
                style="
                  border: 2px solid #077bf796;
                  cursor: pointer;
                  z-index: 999;
                "
                src="../../../../../assets/—Pngtree—children reading book_3634302.png"
                alt=""
                srcset=""
              />
            </div>
            <div class="col m3 s12">
              <img
                width="100%"
                height="210px"
                class="border"
                style="
                  border: 1px solid #077bf796;
                  cursor: pointer;
                  z-index: 1999;
                "
                src="../../../assets/photo-1503676260728-1c00da094a0b.jpg"
                alt=""
                srcset=""
              />
            </div>
            <div class="col m3 s12">
              <img
                width="100%"
                height="210px"
                class="border"
                style="
                  border: 1px solid #077bf796;
                  cursor: pointer;
                  z-index: 2999;
                "
                src="../../../assets/photo-1503676260728-1c00da094a0b.jpg"
                alt=""
                srcset=""
              />
            </div>
            <div class="col m3 s12">
              <img
                width="100%"
                height="210px"
                class="border"
                style="
                  border: 1px solid #077bf796;
                  cursor: pointer;
                  z-index: 399;
                "
                src="../../../assets/photo-1503676260728-1c00da094a0b.jpg"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
