<div class="row border">
  <h1 style="text-align: center; font-weight: 700">Flash Sale</h1>
  <h3 style="text-align: center; font-weight: 500">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit deleniti
    dicta ab tempore aperiam velit provident eligendi?
  </h3>
  <div class="col m12 s12" style="text-align: center">
    <div class="border">
      <div class="row">
        <div class="sale border">
          <div style="display: inline-block !important" class="">
            <h2>3</h2>
            <h3>Days</h3>
          </div>
          <div style="display: inline-block !important" class="">
            <h2>13</h2>
            <h3>hours</h3>
          </div>
          <div class="" style="display: inline-block !important">
            <h2>30</h2>
            <h3>minutes</h3>
          </div>
          <div class="" style="display: inline-block !important">
            <h2>53</h2>
            <h3>second</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col m12">
    <div class="row sale_items">
      <div class="col m3 s6">
        <div class="sale_items--item">
          <img
            width="190px"
            src="../../../../../assets/photo-1558021211-6d1403321394.jpg"
            alt=""
          />
          <p>Book Title</p>
          <p style="color: #5207ddbe">Author Name</p>
          <div class="price">
            <h2
              style="color: #5207ddbe; display: inline-block; margin-right: 4px"
            >
              $40
            </h2>
            <h3
              style="
                color: rgba(0, 0, 0, 0.452);
                display: inline-block;
                text-decoration: line-through;
              "
            >
              67
            </h3>
          </div>
        </div>
      </div>
      <div class="col m3 s6">
        <div class="sale_items--item">
          <img
            width="190px"
            src="../../../../../assets/photo-1503676260728-1c00da094a0b.jpg"
            alt=""
          />
          <p>Book Title</p>
          <p style="color: #5207ddbe">Author Name</p>
          <div class="price">
            <h2
              style="color: #5207ddbe; display: inline-block; margin-right: 4px"
            >
              $40
            </h2>
            <h3
              style="
                color: rgba(0, 0, 0, 0.452);
                display: inline-block;
                text-decoration: line-through;
              "
            >
              67
            </h3>
          </div>
        </div>
      </div>
      <div class="col m3 s6">
        <div class="sale_items--item">
          <img
            width="190px"
            src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
            alt=""
          />
          <p>Book Title</p>
          <p style="color: #5207ddbe">Author Name</p>
          <div class="price">
            <h2
              style="color: #5207ddbe; display: inline-block; margin-right: 4px"
            >
              $40
            </h2>
            <h3
              style="
                color: rgba(0, 0, 0, 0.452);
                display: inline-block;
                text-decoration: line-through;
              "
            >
              67
            </h3>
          </div>
        </div>
      </div>
      <div class="col m3 s6">
        <div class="sale_items--item">
          <img
            width="190px"
            src="../../../../../assets/photo-1503676260728-1c00da094a0b.jpg"
            alt=""
          />
          <p>Book Title</p>
          <p style="color: #5207ddbe">Author Name</p>
          <div class="price">
            <h2
              style="color: #5207ddbe; display: inline-block; margin-right: 4px"
            >
              $40
            </h2>
            <h3
              style="
                color: rgba(0, 0, 0, 0.452);
                display: inline-block;
                text-decoration: line-through;
              "
            >
              67
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
