<div
  class="container"
  style="
    cursor: pointer;
    margin-left: 20px;
    padding: 30px;
    border: #55acee49 1px solid;
    border-radius: 10px;
  "
>
  <h1 style="font-weight: 600">Related Books</h1>

  <div class="row border">
    <div class="col m6">
      <img
        class="border"
        width="100px"
        height="140px"
        src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
        alt=""
      />
    </div>
    <div class="col m6">
      <h3 style="font-weight: 600">Make Your own</h3>
      <h2>
        <i class="material-icons" style="color: tomato"> star </i>
        4.3
      </h2>
      <h2>{{ 122.3 | currency }}</h2>
    </div>
    <div class="row">
      <a
        style="display: block; background-color: #5207dd"
        class="waves-effect waves-light border btn"
        ><i class="material-icons right">shopping_cart</i>Add</a
      >
    </div>
  </div>

  <div class="row border">
    <div class="col m6">
      <img
        class="border"
        width="100px"
        height="140px"
        src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
        alt=""
      />
    </div>
    <div class="col m6">
      <h3 style="font-weight: 600">Make Your own</h3>
      <h2>
        <i class="material-icons" style="color: tomato"> star </i>
        4.3
      </h2>
      <h2>{{ 122.3 | currency }}</h2>
    </div>
    <div class="row">
      <a
        style="display: block; background-color: #5207dd"
        class="waves-effect waves-light border btn"
        ><i class="material-icons right">shopping_cart</i>Add</a
      >
    </div>
  </div>

  <div class="row border">
    <div class="col m6">
      <img
        class="border"
        width="100px"
        height="140px"
        src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
        alt=""
      />
    </div>
    <div class="col m6">
      <h3 style="font-weight: 600">Make Your own</h3>
      <h2>
        <i class="material-icons" style="color: tomato"> star </i>
        4.3
      </h2>
      <h2>{{ 122.3 | currency }}</h2>
    </div>
    <div class="row">
      <a
        style="display: block; background-color: #5207dd"
        class="waves-effect waves-light border btn"
        ><i class="material-icons right">shopping_cart</i>Add</a
      >
    </div>
  </div>

  <div class="row border">
    <div class="col m6">
      <img
        class="border"
        width="100px"
        height="140px"
        src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
        alt=""
      />
    </div>
    <div class="col m6">
      <h3 style="font-weight: 600">Make Your own</h3>
      <h2>
        <i class="material-icons" style="color: tomato"> star </i>
        4.3
      </h2>
      <h2>{{ 122.3 | currency }}</h2>
    </div>
    <div class="row">
      <a
        style="display: block; background-color: #5207dd"
        class="waves-effect waves-light border btn"
        ><i class="material-icons right">shopping_cart</i>Add</a
      >
    </div>
  </div>
</div>
