<div class="section">
  <div class="row" style="margin-left: 40px">
    <h1 style="font-weight: 700; margin-left: 40px; margin-bottom: 30px">
      Books On Sale
    </h1>
    <div class="col m2 s6">
      <div class="saleItem">
        <span class="badge">50%</span>

        <img
          width="160px"
          src="../../../../../assets/photo-1529158062015-cad636e205a0.jpg"
          alt=""
        />
        <div class="res">
          <p>BOOK TITLE</p>
          <p>GENRE</p>
          <div class="row">
            <i class="material-icons red-text" style="display: inline-block"
              >star</i
            >
            <p class="red-text" style="display: inline-block; font-size: 30px">
              4.3
            </p>
            <div class="col m6">
              <h3 style="display: inline-block; padding: 3px; font-weight: 900">
                $30
              </h3>
              <h3
                style="
                  display: inline-block;
                  text-decoration: line-through;
                  font-weight: 400;
                "
              >
                60
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m2 s6">
      <div class="saleItem">
        <span class="badge">50%</span>

        <img
          width="160px"
          src="../../../../../assets/photo-1558021211-6d1403321394.jpg"
          alt=""
        />
        <div class="res">
          <p>BOOK TITLE</p>
          <p>GENRE</p>
          <div class="row">
            <i class="material-icons red-text" style="display: inline-block"
              >star</i
            >
            <p class="red-text" style="display: inline-block; font-size: 30px">
              4.3
            </p>
            <div class="col m6">
              <h3 style="display: inline-block; padding: 3px; font-weight: 900">
                $30
              </h3>
              <h3
                style="
                  display: inline-block;
                  text-decoration: line-through;
                  font-weight: 400;
                "
              >
                60
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m2 s6">
      <div class="saleItem">
        <span class="badge">50%</span>

        <img
          width="160px"
          src="../../../../../assets/photo-1558021211-6d1403321394.jpg"
          alt=""
        />
        <div class="res">
          <p>BOOK TITLE</p>
          <p>GENRE</p>
          <div class="row">
            <i class="material-icons red-text" style="display: inline-block"
              >star</i
            >
            <p class="red-text" style="display: inline-block; font-size: 30px">
              4.3
            </p>
            <div class="col m6">
              <h3 style="display: inline-block; padding: 3px; font-weight: 900">
                $30
              </h3>
              <h3
                style="
                  display: inline-block;
                  text-decoration: line-through;
                  font-weight: 400;
                "
              >
                60
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m2 s6">
      <div class="saleItem">
        <span class="badge">50%</span>

        <img
          width="160px"
          src="../../../../../assets/photo-1558021211-6d1403321394.jpg"
          alt=""
        />
        <div class="res">
          <p>BOOK TITLE</p>
          <p>GENRE</p>
          <div class="row">
            <i class="material-icons red-text" style="display: inline-block"
              >star</i
            >
            <p class="red-text" style="display: inline-block; font-size: 30px">
              4.3
            </p>
            <div class="col m6">
              <h3 style="display: inline-block; padding: 3px; font-weight: 900">
                $30
              </h3>
              <h3
                style="
                  display: inline-block;
                  text-decoration: line-through;
                  font-weight: 400;
                "
              >
                60
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m2 s6">
      <div class="saleItem">
        <span class="badge">50%</span>

        <img
          width="160px"
          src="../../../../../assets/photo-1558021211-6d1403321394.jpg"
          alt=""
        />
        <div class="res">
          <p>BOOK TITLE</p>
          <p>GENRE</p>
          <div class="row">
            <i class="material-icons red-text" style="display: inline-block"
              >star</i
            >
            <p class="red-text" style="display: inline-block; font-size: 30px">
              4.3
            </p>
            <div class="col m6">
              <h3 style="display: inline-block; padding: 3px; font-weight: 900">
                $30
              </h3>
              <h3
                style="
                  display: inline-block;
                  text-decoration: line-through;
                  font-weight: 400;
                "
              >
                60
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m2 s6">
      <div class="saleItem">
        <span class="badge">50%</span>

        <img
          width="160px"
          src="../../../../../assets/photo-1558021211-6d1403321394.jpg"
          alt=""
        />
        <div class="res">
          <p>BOOK TITLE</p>
          <p style="color: #5207ddbe">GENRE</p>
          <div class="row">
            <i class="material-icons red-text" style="display: inline-block"
              >star</i
            >
            <p class="red-text" style="display: inline-block; font-size: 30px">
              4.3
            </p>
            <div class="col m6">
              <h3 style="display: inline-block; padding: 3px; font-weight: 900">
                $30
              </h3>
              <h3
                style="
                  display: inline-block;
                  text-decoration: line-through;
                  font-weight: 400;
                "
              >
                60
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
