.saleItem {
  position: relative;

  .badge {
    position: absolute;
    left: -14px;
    top: 10px;
    background-color: #ff764c;
    color: #ffffff;
    z-index: 99;
    font-weight: 700;
    padding: 3px;
    height: 2rem;
    border-radius: 15px 50px 30px 5px;
    box-shadow: 0px 10px -14px 14px rgb(59, 54, 54);
    font-size: 1.1rem;
  }
}
img {
  border-radius: 20px;
  position: relative;
  height: 250px;
  box-shadow: 0 2px 5px 0 rgba(72, 105, 194, 0.16);
}

.res {
  padding: 1rem !important;

  p {
    line-height: 0%;
    padding-bottom: 2px !important;
    font-weight: 700;
  }
}
